body {
  background: linear-gradient(135deg, #000000, #020738);
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}

button{
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: #030965;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
input {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  width: 240px;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
}
button:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
}
#notListe {
  margin-top: 20px;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

#notListe p {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 15px;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.4s ease;

}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  display: flex;
  height: 100vh;
}

.sol, .sag {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
}

.sol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: 2px solid rgba(255,255,255,0.3);
  height: 100vh;
  padding-top: 60px;
  flex: 0.9;
}

.sag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  flex: 1.1;
}

#notListes {
  margin-top: 20px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
#notListe{
    word-wrap: break-word;
    overflow-wrap: break-word;  
    white-space: normal; 
}

#notListes p {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  width: 180px;
  min-height: 80px;
  flex-wrap: wrap;
  text-align: center;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.4s ease;
}
textarea {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  width: 240px;
  height: 80px;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
  resize: none; 
  overflow-wrap: break-word;
  white-space: pre-wrap; 
}
.sil-btn {
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  transition: 0.3s;
}

.sil-btn:hover {
  color: red;
  transform: scale(1.2);
}
#temizleButton {
  margin-top: 10px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: #020a49;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#temizleButton:hover {
  background-color: #030851;
  text-decoration-color: #030965;
  transform: scale(1.05);
}
#yukleniyorEkrani {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #020738);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: "Poppins", sans-serif;
  z-index: 9999;
  transition: opacity 0.8s ease;
}

.yukleniyor-icerik {
  text-align: center;
}

.progress-bar {
  width: 300px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.progress {
  width: 0%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  animation: yuklemeBar 2.2s ease-out forwards;
}

@keyframes yuklemeBar {
  0% { width: 0%; }
  100% { width: 100%; }
}
